@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .header-nav-item {
    @apply flex items-center;
  }

  .header-nav-item-a {
    @apply flex space-x-2 items-center h-20 w-full transition-all hover:border-b-4 hover:text-orange-400 hover:border-b-orange-400;
  }
  .tag {
    @apply flex space-x-2 items-center py-3 px-6 text-sm border  border-orange-400 text-orange-400 rounded-xl sm:w-full transition-all hover:border-b-4 sm:min-w-fit;
  }
  .filter-text-inputs {
    @apply border-b placeholder-gray-400  border-gray-400 w-full text-lg outline-none placeholder:font-light placeholder:text-gray-400;
  }
}

body {
  font-family: "Space Grotesk", sans-serif;
}
.active {
  color: #fb923c;
  border-bottom: 0.3rem solid #fb923c;
}

@media (max-width: 1890px) {
  html {
    font-size: 96.666666%;
  }
}
@media (max-width: 1790px) {
  html {
    font-size: 93.33333%;
  }
}
@media (max-width: 1690px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 1590px) {
  html {
    font-size: 83.34%;
  }
}
@media (max-width: 1490px) {
  html {
    font-size: 80.01%;
  }
}
@media (max-width: 1390px) {
  html {
    font-size: 76.68%;
  }
}
@media (max-width: 1290px) {
  html {
    font-size: 73.35%;
  }
}
@media (max-width: 1190px) {
  html {
    font-size: 70.02%;
  }
}
@media (max-width: 1090px) {
  html {
    font-size: 66.69%;
  }
}
@media (max-width: 990px) {
  html {
    font-size: 63.36%;
  }
}
@media (max-width: 890px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 40%;
  }
}
